@font-face {
  font-family: 'CenturyGothic';
  src: url('../font/CenturyGothic.ttf') format('truetype');
  src: url('../font/gothic.eot') format('eot'),;
  src: url('../font/gothic.woff') format('woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,body{
  min-height: 1000px;
  background: #121116;
  font-family: CenturyGothic;
  font-weight: normal;
}

/* Navbar section */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 80px;
  z-index: 10000;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky{
  background: #121116;
  padding: 15px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
 /* max-width: 50%; */
 width: 30%;
 float: right;
 margin-right: 8%;
}
header .navigations{
  position: relative;
  display: flex;
}
header .navigations li{ 
  list-style: none;
  margin-left: 30px;
}
header .navigations li a {
  text-decoration: none;
  color: #fff; 
  font-size: 17px;
}
header.sticky .navigations li a {
  color: #ffffff;
}
header .navigations li a.active {
  background-color: transparent;
  color: #EDB60D;
} 
header .navigations li a:hover{
  color: #EDB60D;
}
.navigations a::after {
  content: "";
  position: static;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #EDB60D;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.navigations a:hover::after {
  transform: scaleX(1);
}



/*-----------------------------------------------*/
/* Main-Page */
section{
  padding: 120px 0px;
}

.main-body{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  
}

.titleText h2{
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  font-family: CenturyGothic;
  font-weight: 600;
}

.titleText .contact-text span {
  color: #EDB60D;
  font-size: 1.2em;
}
.contact{
  width: 90%;
  height: auto;
  padding: 2% 5%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-social{
  margin: 0 1%;
  align-items: center;
  justify-content: center;
 
 
}

.contact-social-links{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 80px 0;
  

}

.contact-social-links .btn{
  border-radius: 50%;
  border: 1px solid;
  margin: 15px 0;
}
.contact-social-links .btn:hover{
  color: #EDB60D;
  background-color: transparent;
}

.contact-mobile{
  background: linear-gradient(to bottom right, rgba(5, 5, 5, 0.95), rgba(5, 5, 5, 0.6)), url('../assets/other/contact-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  width: 55%;
  margin: 0 1%;
}

.contact-mobile ul{
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 15% 0;
  color: #ffffff;
}


.contact-mobile .mobile li a{
  color: inherit; 
  font-size: 1.2rem;
}

.contact-mobile .mobile li a:hover{
  text-decoration: none;
}

hr {
  height: 1px;
  background: white;
  border: none;
  outline: none;
  margin: 2% auto;
  width: 55%;
}

/* FOOTER */

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.footer-logo img{
  width: 8%;

}
.footer .btn{
  border-radius: 50%;
  border: 1px solid;
}

.footer .btn:hover{
  color: #EDB60D;
  background-color: transparent;
}
.footer .copyright {
  text-align:center;
  font-size:16px;
  color:rgb(156, 156, 156);
} 


/* Media Queries */

@media (max-width: 991px){
  header, header.sticky{
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header .logo{
    width: 18%;
    float: left;   
  }

  header .navigations{
    display: none;
  }

  .menuToggle{
    z-index: 1;
    position: relative;
    width: 100px;
    height: 40px;
    background: url('../assets/other/menuicon.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

  }

  .menuToggle.active{
    background: url('../assets/other/close-icon.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  header .navigations.active{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #121116f8;
  }

  header .navigations li{
    margin-left: 0;
  }

  header .navigations li a{
    color: #fff; 
    font-size: 1.2em;
   
  }
  header .navigations li a.active {
    font-weight: normal;
    /* color: #fff; */
    
  } 
  .navigations .hr {
    width: 50%;
    color: #EDB60D;
    border: 0.5px solid #EDB60D;
    margin: 3%;
  }
  section{
    padding: 10% 0;
  }

  
  .titleText h2{
    font-size: 1.6em;
    
  }

  .contact-mobile ul{
    flex-direction: column;
    justify-content: space-around;
  }
  .mobile li{
    margin: 8% 0;
  }
  
 
  .contact-mobile .mobile li a{
    font-size: 1.3rem;
  }
  


  .footer-logo img{
    width: 10%;
  }

  .footer-basic .social > a {
    font-size: 1.2em;
    text-align: center;
    line-height: 2rem;
    width: 5%;
    height: 10vh;
    border-radius:40%;
    margin:0 0.5%;
    padding: 10px;
  }
  

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .contact-mobile{
    width: 80%;
  }
  .mobile li{
    margin: 3% 0;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  html, body{
    background: linear-gradient( rgba(5, 5, 5, 0.8), rgba(5, 5, 5, 0.8)), url('../assets/other/contact-moile-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    
  }

  header, header.sticky{
    background-color: transparent;
  }
  .main-body{
    margin: 20% 0 0 0;
  }
  
  header .logo {
    width: 40%;
  }


  .menuToggle {
    width: 150px;
    height: 40px;
    
  }

  

  .titleText h2{
    font-size: 2em;
    margin-top: -5%;
  }

  header .navigations li a{
    font-size: 1em;
   
  }
  .navigations .hr {
    width: 75%;
    margin: 5% 0;
  }

  header .navigations li a.active {
    font-weight: normal;
    /* color: #fff; */
  } 
  .titleText h2{
    font-size: 1.5em;
    
  }

  .flex-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  
  .contact-social-links{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }

  .contact-social-links .btn{
    border: 1px solid;  
    font-size: 1rem;
    margin: 0 10% ;
  }


  .contact-mobile{
    background: none;
    width: 100%;
    margin-top: 8%;
    height: 30vh;
    
  }

  .contact-mobile ul{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .contact-mobile .mobile li a{
    font-size: 1rem;
  }
  .mobile li a i{
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 2%;
  }

  .animate__fadeInLeft {
    animation-name: none;
  }
  hr {
   visibility: hidden;
  }

  footer{
    visibility: hidden;
  }
  
} 
